@import "../../vars.css";

.container {
	color: var(--color-text);
	margin-top: 10%;
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100vw;
	padding: 5% 5%;
	gap: 7px;
}

.text {
	align-self: center;
}

.text {
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 4px;
}

.text p {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 2px;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	gap: 20px;
}

.link {
	display: flex;
	align-items: center;
	gap: 20px;
}

.link a {
	color: var(--color-text);
	text-decoration: none;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 1.2px;
}

@media screen and (max-width: 1000px) {
	.container {
		gap: 23px;
		flex-direction: column;
	}

	.link {
		font-size: 20px;
	}
	.link a {
		font-size: 20px;
	}

	.text h2 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 1.75px;
	}
}

@media screen and (max-width: 500px) {
	.container {
		margin-top: 30px;
		gap: 23px;
		flex-direction: column;
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.text h2 {
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1.75px;
	}
}
